/* body font*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/* app title font */
@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: 'Kanit', sans-serif;
  background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
}

.app-title{
  font-family: 'Blaka', cursive;
font-size: 100px;
position: relative;
top: 5rem;
color: rgb(170, 33, 33);
}


